
    <div class="row">
        <div class="center-dev-150">
            <img ng-src="{{getAlbumPictureUrl()}}"
                    width="150" height="150" class="img-rounded" alt="Generic placeholder thumbnail">
        </div>
        <div class="clearfix"></div>
        <media-player/>
    </div>
    <div class="row">
        <ul class="list-group">
            <li ng-repeat="song in getAlbumSongs() | filter:{wrapperType: 'track' }" class="list-group-item">
                {{song.trackName}}
            </li>
        </ul>
    </div>


